.form-area,
.preview-area {
    margin-top: 50px;
    text-align: center;
}

.add-background {
    background-color: yellow;
    padding: 10px;
}

/* Test! - part 7 */
.test-yellow {
    color: yellow
}

.text-red {
    color: red;
}

.main {
    color: red;
    text-transform: uppercase;
}

.text-weight {
    font-weight: bold;
}

.table-area {
    position: absolute;
    left: 30%;
}

h4 {
    text-align: center;
}