.form-area,
.preview-area {
    margin-top: 50px;
    text-align: center;
}

.add-background {
    background-color: yellow;
    padding: 10px;
}

/* Test! - part 7 */
.test-yellow {
    color: yellow
}

.text-red {
    color: red;
}